scripts=["
  create path (cq:Page) /content/aem-commons

  create path (sling:OrderedFolder) /content/dam/aem-commons
  create path (nt:unstructured) /content/dam/aem-commons/jcr:content
  set properties on /content/dam/aem-commons/jcr:content
    set cq:conf{String} to /conf/aem-commons
    set jcr:title{String} to \"AEM Commons\"
  end

  create path (sling:OrderedFolder) /content/experience-fragments/aem-commons

  create group aem-commons-readers with path aem-commons
  set ACL for aem-commons-readers
    allow jcr:read on /content/aem-commons
    allow jcr:read on /content/dam/aem-commons
    allow jcr:read on /content/experience-fragments/aem-commons
  end

  create service user aem-commons-service-user with path system/aem-commons
  add aem-commons-service-user to group aem-commons-readers

"]
